@charset "UTF-8";
/* CSS Document */

.is_hidden_mobile {
	display: none !important;
}

#nav-start {
	display: none;
}

body {
	font-size:14pt;
}

h1 {
	font-size:32pt;
	margin-bottom:20px;
}

h2 {
	font-size:24pt;
	margin-bottom:15px;
}

h3 {
	font-size:18pt;
	margin-bottom:15px;
}

h4 {
	font-size:18pt;
	margin-bottom:15px;
}

html {
	height:100%;
	width:100%;
}

header {
	padding:25px 6.66%;
	font-size:18pt;
}

header #logo img {
	position:static;
	display:block;
	float:none;
	margin:auto;
	margin-bottom:20px;
}

header nav {
	margin:auto;
	width:100%;
	display:block;
	float:none;
	text-align:center;
}

header nav a {
	margin:auto;
	padding:0;
	padding-top:3px;
	padding-bottom:3px;
	float:none;
}

main {
	min-height:90%;
	padding:25px 6%;
}

main article:first-child { /* Spalte */
	width:100%;
	float:none;
}

main article { /* Spalte */
	width:100%;
	float:none;
}

main article .half_width {
	width:100%;
	float:none;
}

footer {
	padding-left: 3.33%;
	padding-right: 3.33%;
	text-align:center;
}

#start img, .kontakt img {
	display:block;
	width:66%;
	margin:auto;
	margin-bottom:25px;
}

#yoga img {
	width:100%;
}
