@charset "UTF-8";
/* CSS Document */

/* CSS RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, a, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.clear {
	clear:both;
}

.float_left {
	float:left;
}

.float_right {
	float:right;
}

a {
	text-decoration:none;
	color:#4A9645;
	color:#3B9334;
}

a:hover {
	color:#F28C32;
}

strong {
	font-weight:500;
}

p {
	display:block;
	margin-top:25px;
	/*line-height:1.6;*/
}

ul {
	margin-left:10px;
}

ul li {
	padding-bottom:10px;
	text-indent: 2px;
	list-style: none;
	list-style-position: outside;
}

ul li:before {
		content: url('../img/icons/circle-check.svg');
		margin-right: 12px;
		position: relative;
		top: 5px;
}

ol li {
	list-style: none;
	line-height: normal;
	margin-bottom: 10px;
}

h1,h2,h3,h4 {
	font-family: 'Dosis', Helvetica, Arial, Lucida, sans-serif;
	line-height: normal;
}

h1 {
	font-size:48pt;
	font-weight:700;
	margin-bottom:40px;
}

h2 {
	font-size:36pt;
	margin-bottom:30px;
	font-weight:600;
}

h3 {
	font-size:24pt;
	margin-bottom:20px;
	font-weight:600;
}

h4 {
		font-size:24pt;
		font-weight:600;
}

.glow {
	color:#F28C32;
}

.green {
	color:#3B9334;
}

.icon {
	margin-right: 12px;
	margin-bottom: 4px;
	position: relative;
	top: 7px;
}

html {
	height:100%;
	width:100%;
}

body {
	height:100%;
	width:100%;
	font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
	font-weight: 300;
	font-size:14pt;
	color:#303130;
}

header {
	padding:0 6.66%;
	background:#C9DFC8;
	font-family: 'Dosis', Helvetica, Arial, Lucida, sans-serif;
	font-size:18pt;
	font-weight:300;
}

header #logo img {
	position:absolute;
	top:15px;
	animation: scale 2s;
	animation: pop 3s;
	transform: scale(0.95,0.95);
	animation-fill-mode: forwards;
}

@keyframes scale {
    100% {
        transform: scale(1,1);
    }
}

@keyframes pop {
    66% {
        transform: scale(1.05,1.05);
    }
		    100% {
		        transform: scale(1,1);
		    }
}

header nav {
	float:right;
}

header nav a {
	display:block;
	float:left;
	margin-left:60px;
	padding:36px 0;
	color:#303130;
}

header nav a:hover {
	color:#F28C32;
}

header nav a.active {
	color:#F28C32;
	font-weight: 600;
}

header nav a:first-child {
	margin-left:0;
}

main {
	min-height:90%;
	padding:90px 10%;
	padding-bottom:45px;
	background:#f2f4f2;
	line-height: 1.6;
}

/* a[href^"mailto"] damit valide {

}
*/

main my-email::after {
    content: attr(data-domain);
  }

main my-email::before {
    content: attr(data-user);
  }

.no_height {
	min-height:0;
}

.no_padding {
	padding-top:0;
}

main article:first-child { /* Spalte */
	width:28%;
	float:left;
}

main article { /* Spalte */
	width:66%;
	float:right;
}

main article.full_width {
	width:100%;
	float:none;
}

main article .half_width {
	width:47%;
}

footer {
	padding:50px 7%;
	text-align:right;
	color:#AEBFAC;
	font-family: 'Dosis', Helvetica, Arial, Lucida, sans-serif;
	font-size: 16pt;
	font-weight: 400;
}

footer a {
	color:#747F73;
	padding:0 12px;
}

footer a img {
	margin-right:8px;
}


/*** CONTENT ***/

#yoga img.float_left {
	margin-right:30px;
	margin-bottom:15px;
}

#yoga img.float_right {
	margin-left:30px;
	margin-bottom:15px;
}

#kurse iframe {
	margin-top: 20px;
}

#kurse .freeze-overlay {
   background:transparent;
   position:relative;
   width:100%;
   height:400px; /* your iframe height */
   top:400px;  /* your iframe height */
   margin-top:-400px;  /* your iframe height */
}

#kurse .half_width {
	margin-top:40px;
}

.kontakt {
	padding-bottom:50px;
}

#impressum img.float_right {
	margin:30px;
	margin-right: 0;
}
